.fixside {
    width: 64px;
    height: 520px;
    position: fixed;
    right: 0px;
    top: 180px;
    z-index: 6;
    //搜尋列
    .search {
        width: 304px;
        height: 64px;
        background: #eaedf4;
        border-radius: 12px 0px 0px 12px;
        position: absolute;
        top: 0px;
        left: 0px;
        box-shadow: 0 0 5px 1px #b6bcdd;
        transition: 0.5s left;
        &.open {
            left: -240px;
        }
        .searchbut {
            width: 64px;
            height: 64px;
            cursor: pointer;
            border-radius: 12px 0px 0px 12px;
            float: left;
            text-align: center;
            &:hover,&:active,&.active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                background-color: #1a2b84;
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -30px;
                }
            }
            span {
                font-size: 12px;
            }
            .fixsideimg {
                width: 30px;
                height: 30px;
                background: url('../images/fixside_ic.png');
                background-size: 800%;
                float: left;
                margin: 7px 15px 5px 17px;
            }
        }
        input {
            width: 140px;
            height: 30px;
            font-size: 16px;
            padding-left: 10px;
            box-shadow: inset 0 0 2px 2px #c6cae0;
            border: none;
            border-radius: 15px;
            float: left;
            margin: 15px 0px 0px 10px;
            &::placeholder {
                font-weight: bold;
                color: #c7c7c7;
                font-size: 14px;
            }
        }
        button {
            width: 50px;
            height: 28px;
            background: linear-gradient(to bottom, #8f9cdc 0%, #2f45b7 100%);
            background-color: #2f45b7;
            color: #fff;
            float: left;
            border-radius: 5px;
            font-size: 16px;
            margin: 16px 0px 16px 15px;
            &:hover,&:active,&.active {
                background: linear-gradient(to top, #8f9cdc 0%, #2f45b7 100%);
            }
        }
        //隊伍內容
        .searchbox {
            width: 244px;
            height: auto;
            float: left;
            margin-left: 64px;
            overflow: hidden;
            border-radius: 0px 0px 0px 12px;
            box-shadow: 0 0 5px 1px #b6bcdd;
            li {
                width: 100%;
                height: 50px;
                line-height: 50px;
                padding-left: 20px;
                position: relative;
                font-size: 14px;
                background: linear-gradient(to bottom, #fafbff 0%, #e2e6f5 100%);
                background-color: #e2e6f5;
                cursor: pointer;
                &:hover,&:active {
                    background: linear-gradient(to bottom, #fafbff 0%, #abe6ec 100%);
                }
                &::before {
                    content: "";
                    width: 6px;
                    height: 8px;
                    position: absolute;
                    background: url('../images/arrow_b.png');
                    right: 40px;
                    top: 21px;
                }
                &:hover:before,&:active::before {
                    transform: rotate(90deg);
                }
                &.active {
                    background: linear-gradient(to bottom, #fafbff 0%, #abe6ec 100%);
                    &::before {
                        transform: rotate(90deg);
                    }
                }
            }
            div {
                background: #fff;
                width: 100%;
                height: 0px;
                overflow: hidden;
                &.open {
                    height: auto;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    color: #000;
                    border-bottom: solid 1px #c8cedf;
                    font-size: 14px;
                    &:last-child {
                        border: none;
                    }
                    &:hover,&:active,&.active {
                        text-decoration: underline;
                    }
                    .team {
                        display: block;
                        width: 30px;
                        height: 30px;
                        background: url('../images/fixside_team.png');
                        float: left;
                        margin: 10px 5px 0px 5px;
                        background-size: 300%;
                        &.french {
                            background-position-x: -30px;
                        }
                        &.england {
                            background-position-x: -60px;
                        }
                    }
                    .num {
                        float: right;
                        margin: 0px 20px 0px 0px;
                    }
                }
            }
        }
    }
    //功能列
    .fun {
        width: 64px;
        height: auto;
        margin-top: 100px;
        border-radius: 12px 0px 0px 12px;
        overflow: hidden;
        box-shadow: 0 0 5px 1px #b6bcdd;
        a {
            display: block;
            width: 100%;
            height: 70px;
            background: #eaedf4;
            text-align: center;
            cursor: pointer;
            &:last-child {
                height: 75px;
            }
            &:hover,&:active,&.active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                background-color: #1a2b84;
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -30px;
                }
            }
            span {
                font-size: 12px;
                color: #000;
            }
            .fixsideimg {
                width: 30px;
                height: 30px;
                background: url('../images/fixside_ic.png');
                background-size: 800%;
                float: left;
                margin: 13px 15px 3px 17px;
                &.img2 {
                    background-position-x: -30px;
                }
                &.img3 {
                    background-position-x: -60px;
                }
                &.img4 {
                    background-position-x: -90px;
                }
                &.img5 {
                    background-position-x: -120px;
                }
                &.img6 {
                    background-position-x: -150px;
                }
                &.img7 {
                    background-position-x: -180px;
                }
                &.img8 {
                    background-position-x: -210px;
                }
            }
        }
    }
}
.fixside_rwd {
    display: none;
    width: 64px;
    height: 110px;
    position: fixed;
    right: 0px;
    top: 180px;
    z-index: 6;
    //搜尋列
    .search {
        width: 304px;
        height: 64px;
        background: #eaedf4;
        position: absolute;
        top: 0px;
        left: 64px;
        transition: 0.3s left;
        &.open {
            left: -240px;
            box-shadow: 0 0 5px 1px #b6bcdd;
            border-radius: 12px 0px 0px 12px;
            .searchbut {
                width: 64px;
                height: 64px;
                position: unset;
                border-radius: 12px 0px 0px 12px;
                float: left;
                text-align: center;
                &:hover,&:active,&.active {
                    background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                    span {
                        color: #fff;
                    }
                    .fixsideimg {
                        background-position-y: -30px;
                    }
                }
                span {
                    display: inline;
                    font-size: 12px;
                }
                .fixsideimg {
                    width: 30px;
                    height: 30px;
                    background: url('../images/fixside_ic.png');
                    background-size: 800%;
                    float: left;
                    margin: 7px 15px 5px 17px;
                }
            }
        }
        .searchbut {
            width: 35px;
            height: 35px;
            cursor: pointer;
            background: #eaedf4;
            border-radius: 6px 0px 0px 6px;
            box-shadow: 0 0 5px 1px #b6bcdd;
            position: absolute;
            left: -35px;
            &:hover,&:active,&.active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                background-color: #1a2b84;
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -24px;
                }
            }
            span {
                display: none;
            }
            .fixsideimg {
                width: 24px;
                height: 24px;
                background: url('../images/fixside_ic.png');
                background-size: 800%;
                margin: 5px auto 0px;
            }
        }
        input {
            width: 140px;
            height: 30px;
            font-size: 16px;
            padding-left: 10px;
            box-shadow: inset 0 0 2px 2px #c6cae0;
            border: none;
            border-radius: 15px;
            float: left;
            margin: 15px 0px 0px 10px;
            /*for IE 9*/
            @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                margin: 15px 0px 0px 60px;
            }
            /*for IE*/
            @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                margin: 15px 0px 0px 60px;
            }
            &::placeholder {
                font-weight: bold;
                color: #c7c7c7;
                font-size: 14px;
            }
        }
        button {
            width: 50px;
            height: 28px;
            background: linear-gradient(to bottom, #8f9cdc 0%, #2f45b7 100%);
            background-color: #2f45b7;
            color: #fff;
            float: left;
            border-radius: 5px;
            font-size: 16px;
            margin: 16px 0px 16px 15px;
            &:hover,&:active,&.active {
                background: linear-gradient(to top, #8f9cdc 0%, #2f45b7 100%);
            }
        }
        //隊伍內容
        .searchbox {
            width: 244px;
            height: auto;
            float: left;
            margin-left: 64px;
            overflow: hidden;
            border-radius: 0px 0px 0px 12px;
            box-shadow: 0 0 5px 1px #b6bcdd;
            position: relative;
            z-index: 6;
            /*for IE 9*/
            @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                width: 275px;
                margin: 5px 0px 0px 30px;
            }
            /*for IE*/
            @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                width: 275px;
                margin: 5px 0px 0px 30px;
            }
            li {
                width: 100%;
                height: 50px;
                line-height: 50px;
                padding-left: 20px;
                position: relative;
                font-size: 14px;
                background: linear-gradient(to bottom, #fafbff 0%, #e2e6f5 100%);
                background: #e2e6f5;
                cursor: pointer;
                &:hover,&:active {
                    background: linear-gradient(to bottom, #fafbff 0%, #abe6ec 100%);
                }
                &::before {
                    content: "";
                    width: 6px;
                    height: 8px;
                    position: absolute;
                    background: url('../images/arrow_b.png');
                    right: 40px;
                    top: 21px;
                }
                &:hover:before,&:active::before {
                    transform: rotate(90deg);
                }
                &.active {
                    background: linear-gradient(to bottom, #fafbff 0%, #abe6ec 100%);
                    &::before {
                        transform: rotate(90deg);
                    }
                }
            }
            div {
                background: #fff;
                width: 100%;
                height: 0px;
                overflow: hidden;
                &.open {
                    height: auto;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    color: #000;
                    border-bottom: solid 1px #c8cedf;
                    font-size: 14px;
                    &:last-child {
                        border: none;
                    }
                    &:hover,&:active,&.active {
                        text-decoration: underline;
                    }
                    .team {
                        display: block;
                        width: 30px;
                        height: 30px;
                        background: url('../images/fixside_team.png');
                        float: left;
                        margin: 10px 5px 0px 5px;
                        background-size: 300%;
                        &.french {
                            background-position-x: -30px;
                        }
                        &.england {
                            background-position-x: -60px;
                        }
                    }
                    .num {
                        float: right;
                        margin: 0px 20px 0px 0px;
                    }
                }
            }
        }
    }
    //功能列
    .fun {
        width: 64px;
        height: auto;
        margin-top: 70px;
        border-radius: 12px 0px 0px 12px;
        position: relative;
        left: 64px;
        transition: all 0.3s;
        &.open {
            left: 0px;
            box-shadow: 0 0 5px 1px #b6bcdd;
            .rwd_hambut {
                box-shadow: none;
            }
        }
        .rwd_hambut {
            width: 35px;
            height: 35px;
            position: absolute;
            top: 0px;
            left: -35px;
            border-radius: 6px 0px 0px 6px;
            box-shadow: 0 0 5px 1px #b6bcdd;
            background: #eaedf4;
            padding: 0px;
            &:hover,&:active,&.active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                background-color: #1a2b84;
                span {
                    background: #fff;
                }
            }
            span {
                display: block;
                width: 55%;
                height: 4px;
                background: #c0926b;
                margin:0px 0px 0px 9px;
                border-radius: 5px;
                &:first-child {
                    margin-bottom: 3px;
                }
                &:last-child {
                    margin-top: 3px;
                }
            }
        }
        a {
            display: block;
            width: 100%;
            height: 70px;
            background: #eaedf4;
            text-align: center;
            cursor: pointer;
            &:last-child {
                height: 75px;
                border-radius: 0px 0px 0px 12px;
            }
            &:hover,&:active,&.active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                background-color: #1a2b84;
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -30px;
                }
            }
            span {
                font-size: 12px;
                color: #000;
            }
            .fixsideimg {
                width: 30px;
                height: 30px;
                background: url('../images/fixside_ic.png');
                background-size: 800%;
                float: left;
                margin: 13px 15px 3px 17px;
                &.img2 {
                    background-position-x: -30px;
                }
                &.img3 {
                    background-position-x: -60px;
                }
                &.img4 {
                    background-position-x: -90px;
                }
                &.img5 {
                    background-position-x: -120px;
                }
                &.img6 {
                    background-position-x: -150px;
                }
                &.img7 {
                    background-position-x: -180px;
                }
                &.img8 {
                    background-position-x: -210px;
                }
            }
        }
    }
}
@media only screen and (max-width:1460px) {
    .fixside {
        display: none;
    }
    .fixside_rwd {
        display: block;
    }
}