.fixside {
    width: 60px;
    height: 520px;
    position: fixed;
    right: 0px;
    top: 180px;
    z-index: 6;
    //搜尋列
    .search {
        width: 300px;
        height: 60px;
        background: #eaedf4;
        border-radius: 12px 0px 0px 12px;
        position: absolute;
        top: 0px;
        left: 0px;
        box-shadow: 0 0 5px 1px #b6bcdd;
        transition: 0.5s left;
        &.open {
            left: -240px;
        }
        .searchbut {
            width: 60px;
            height: 60px;
            cursor: pointer;
            border-radius: 12px 0px 0px 12px;
            float: left;
            text-align: center;
            &:hover,&:active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -30px;
                }
            }
            &.active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -30px;
                }
            }
            span {
                font-size: 12px;
            }
            .fixsideimg {
                width: 30px;
                height: 30px;
                background: url('../images/fixside_ic.png');
                background-size: 800%;
                float: left;
                margin: 5px 15px 5px 15px;
            }
        }
        input {
            width: 140px;
            height: 30px;
            font-size: 16px;
            padding-left: 10px;
            box-shadow: inset 0 0 2px 2px #c6cae0;
            border: none;
            border-radius: 15px;
            float: left;
            margin: 15px 0px 0px 10px;
            &::placeholder {
                font-weight: bold;
                color: #c7c7c7;
                font-size: 14px;
            }
        }
        button {
            width: 50px;
            height: 28px;
            background: linear-gradient(to bottom, #8f9cdc 0%, #2f45b7 100%);
            color: #fff;
            float: left;
            border-radius: 5px;
            font-size: 16px;
            margin: 16px 0px 16px 15px;
            &:hover,&:active {
                background: linear-gradient(to top, #8f9cdc 0%, #2f45b7 100%);
            }
        }
        //隊伍內容
        .searchbox {
            width: 240px;
            height: auto;
            float: left;
            margin-left: 60px;
            overflow: hidden;
            border-radius: 0px 0px 0px 12px;
            box-shadow: 0 0 5px 1px #b6bcdd;
            li {
                width: 100%;
                height: 50px;
                line-height: 50px;
                padding-left: 20px;
                position: relative;
                font-size: 14px;
                background: linear-gradient(to bottom, #fafbff 0%, #e2e6f5 100%);
                cursor: pointer;
                &:hover,&:active {
                    background: linear-gradient(to bottom, #fafbff 0%, #abe6ec 100%);
                }
                &::before {
                    content: "";
                    width: 6px;
                    height: 8px;
                    position: absolute;
                    background: url('../images/arrow_b.png');
                    right: 40px;
                    top: 21px;
                }
                &:hover:before,&:active::before {
                    transform: rotate(90deg);
                }
                &.active {
                    background: linear-gradient(to bottom, #fafbff 0%, #abe6ec 100%);
                    &::before {
                        transform: rotate(90deg);
                    }
                }
            }
            div {
                background: #fff;
                width: 100%;
                height: 0px;
                overflow: hidden;
                &.open {
                    height: auto;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    color: #000;
                    border-bottom: solid 1px #c8cedf;
                    font-size: 14px;
                    &:last-child {
                        border: none;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                    .team {
                        display: block;
                        width: 30px;
                        height: 30px;
                        background: url('../images/fixside_team.png');
                        float: left;
                        margin: 10px 5px 0px 5px;
                        background-size: 300%;
                        &.french {
                            background-position-x: -30px;
                        }
                        &.england {
                            background-position-x: -60px;
                        }
                    }
                    .num {
                        float: right;
                        margin: 0px 20px 0px 0px;
                    }
                }
            }
        }
    }
    //功能列
    .fun {
        width: 60px;
        height: auto;
        margin-top: 100px;
        border-radius: 12px 0px 0px 12px;
        overflow: hidden;
        box-shadow: 0 0 5px 1px #b6bcdd;
        a {
            display: block;
            width: 100%;
            height: 60px;
            background: #eaedf4;
            text-align: center;
            cursor: pointer;
            &:hover,&:active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -30px;
                }
            }
            &.active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -30px;
                }
            }
            span {
                font-size: 12px;
                color: #000;
            }
            .fixsideimg {
                width: 30px;
                height: 30px;
                background: url('../images/fixside_ic.png');
                background-size: 800%;
                float: left;
                margin: 5px 15px 5px 15px;
                &.img2 {
                    background-position-x: -30px;
                }
                &.img3 {
                    background-position-x: -60px;
                }
                &.img4 {
                    background-position-x: -90px;
                }
                &.img5 {
                    background-position-x: -120px;
                }
                &.img6 {
                    background-position-x: -150px;
                }
                &.img7 {
                    background-position-x: -180px;
                }
                &.img8 {
                    background-position-x: -210px;
                }
            }
        }
    }
}
.fixside_rwd {
    display: none;
    width: 35px;
    height: 490px;
    position: fixed;
    right: 0px;
    top: 180px;
    z-index: 6;
    //搜尋列
    .search {
        width: 300px;
        height: 35px;
        background: #eaedf4;
        border-radius: 8px 0px 0px 8px;
        position: absolute;
        top: 0px;
        left: 0px;
        box-shadow: 0 0 5px 1px #b6bcdd;
        transition: 0.5s left;
        &.open {
            left: -240px;
        }
        .searchbut {
            width: 35px;
            height: 35px;
            cursor: pointer;
            border-radius: 8px 0px 0px 8px;
            float: left;
            text-align: center;
            &:hover,&:active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -20px;
                }
            }
            &.active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -20px;
                }
            }
            .fixsideimg {
                width: 20px;
                height: 20px;
                background: url('../images/fixside_ic.png');
                background-size: 800%;
                float: left;
                margin: 8px 15px 0px 8px;
            }
        }
        input {
            width: 140px;
            height: 25px;
            font-size: 16px;
            padding-left: 10px;
            box-shadow: inset 0 0 2px 2px #c6cae0;
            border: none;
            border-radius: 15px;
            float: left;
            margin: 4px 0px 0px 10px;
            &::placeholder {
                font-weight: bold;
                color: #c7c7c7;
                font-size: 14px;
            }
        }
        button {
            width: 50px;
            height: 24px;
            background: linear-gradient(to bottom, #8f9cdc 0%, #2f45b7 100%);
            color: #fff;
            float: left;
            border-radius: 5px;
            font-size: 15px;
            margin: 6px 0px 0px 15px;
            &:hover,&:active {
                background: linear-gradient(to top, #8f9cdc 0%, #2f45b7 100%);
            }
        }
        //隊伍內容
        .searchbox {
            width: 240px;
            height: auto;
            float: left;
            margin-left: 35px;
            overflow: hidden;
            border-radius: 0px 0px 0px 12px;
            box-shadow: 0 0 5px 1px #b6bcdd;
            li {
                width: 100%;
                height: 50px;
                line-height: 50px;
                padding-left: 20px;
                position: relative;
                font-size: 14px;
                background: linear-gradient(to bottom, #fafbff 0%, #e2e6f5 100%);
                cursor: pointer;
                &:hover,&:active {
                    background: linear-gradient(to bottom, #fafbff 0%, #abe6ec 100%);
                }
                &::before {
                    content: "";
                    width: 6px;
                    height: 8px;
                    position: absolute;
                    background: url('../images/arrow_b.png');
                    right: 40px;
                    top: 21px;
                }
                &:hover:before,&:active::before {
                    transform: rotate(90deg);
                }
                &.active {
                    background: linear-gradient(to bottom, #fafbff 0%, #abe6ec 100%);
                    &::before {
                        transform: rotate(90deg);
                    }
                }
            }
            div {
                background: #fff;
                width: 100%;
                height: 0px;
                overflow: hidden;
                &.open {
                    height: auto;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    color: #000;
                    border-bottom: solid 1px #c8cedf;
                    font-size: 14px;
                    &:last-child {
                        border: none;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                    .team {
                        display: block;
                        width: 30px;
                        height: 30px;
                        background: url('../images/fixside_team.png');
                        float: left;
                        margin: 10px 5px 0px 5px;
                        background-size: 300%;
                        &.french {
                            background-position-x: -30px;
                        }
                        &.england {
                            background-position-x: -60px;
                        }
                    }
                    .num {
                        float: right;
                        margin: 0px 20px 0px 0px;
                    }
                }
            }
        }
    }
    //功能列
    .fun {
        width: 35px;
        height: auto;
        margin-top: 70px;
        border-radius: 12px 0px 0px 12px;
        overflow: hidden;
        box-shadow: 0 0 5px 1px #b6bcdd;
        a {
            display: block;
            width: 100%;
            height: 60px;
            background: #eaedf4;
            text-align: center;
            cursor: pointer;
            &:hover,&:active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -20px;
                }
            }
            &.active {
                background: linear-gradient(to right, #7f8cd1 0%, #1a2b84 100%);
                span {
                    color: #fff;
                }
                .fixsideimg {
                    background-position-y: -20px;
                }
            }
            span {
                font-size: 13px;
                color: #000;
            }
            .fixsideimg {
                width: 20px;
                height: 20px;
                background: url('../images/fixside_ic.png');
                background-size: 800%;
                float: left;
                margin: 5px 15px 2px 8px;
                &.img2 {
                    background-position-x: -20px;
                    margin-top: 13px;
                }
                &.img3 {
                    background-position-x: -40px;
                    margin-top: 13px;
                }
                &.img4 {
                    background-position-x: -60px;
                }
                &.img5 {
                    background-position-x: -80px;
                }
                &.img6 {
                    background-position-x: -100px;
                }
                &.img7 {
                    background-position-x: -120px;
                }
                &.img8 {
                    background-position-x: -140px;
                }
            }
        }
    }
}
@media only screen and (max-width:1460px) {
    .fixside {
        display: none;
    }
    .fixside_rwd {
        display: block;
    }
}