//header
header {
    width: 100%;
    min-width: 1460px;
    height: 110px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px #cdd2e5;
    position: relative;
    z-index: 10;
    //上時間列
    .time {
        width: 100%;
        height: 25px;
        background: #2f333d;
        div {
            width: 1100px;
            height: auto;
            margin: 0px auto;
            span {
                float: right;
                font-size: 14px;
                color: #b4bac8;
                line-height: 25px;
                font-size: bold;
            }
        }
    }
    //置中外包
    article {
        width: 1100px;
        height: 85px;
        margin: 0px auto;
        //LOGO
        .logo {
            width: 180px;
            height: 100%;
            float: left;
            font-size: 36px;
            font-weight: bolder;
            text-align: center;
            line-height: 85px;
        }
        //上列表
        ul {
            float: left;
            li {
                float: left;
                text-align: center;
                a {
                    display: block;
                    padding: 0px 10px;
                    height: 82px;
                    line-height: 85px;
                    color: #000;
                    border-bottom: solid 3px transparent;
                    font-size: 17px;
                    &:hover,&:active {
                        color: #293eb0;
                        border-color: #293eb0;
                    }
                    //選定效果
                    &.active {
                        color: #293eb0;
                        border-color: #293eb0;
                        span {
                            background-position-y: -18px;
                        }
                    }
                    &.un {
                        span {
                            background-position-y: -18px;
                        }
                    }
                    //按鈕前小圖
                    span {
                        display: block;
                        width: 17px;
                        height: 17px;
                        float: left;
                        margin: 32px 5px 0px 0px;
                        position: relative;
                        background: url('../images/header_ic.png') no-repeat;
                        background-size: 300%;
                        &.head_ic3 {
                            background-position-x: -35px;
                        }
                    }
                }
            }
        }
        //登入/註冊
        .head_but {
            float: right;
            margin-top: 30px;
            position: relative;
            &.turn {
                display: none;
            }
            &::before {
                content: "";
                position: absolute;
                width: 36px;
                height: 36px;
                background: url('../images/avatar.png');
                top: -5px;
                left: -40px;
            }
            button {
                background: transparent;
                font-size: 17px;
            }
        }
        //登入後樣式
        .lobbyact {
            width: 200px;
            height: 100%;
            float: right;
            text-align: right;
            &.turn {
                display: none;
            }
            p {
                color: #4d515d;
                font-size: 15px;
                margin: 20px 0px 0px 0px;
                &.dollar {
                    color: #2d43b6;
                    font-size: 16px;
                    margin: 10px 0px 0px 0px;
                }
            }
            span {
                display: block;
                width: 40px;
                height: 17px;
                float: right;
                background: linear-gradient(to right, #8e9bdc 0%, #2e44b6 100%);
                background-color: #2e44b6;
                position: relative;
                text-align: right;
                color: #fff;
                font-weight: bold;
                border-radius: 5px;
                margin: -3px 0px 0px 10px;
                padding: 3px 5px 0px 0px;
                @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                    padding: 1px 5px 0px 0px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 23px;
                    height: 9px;
                    background: url('../images/vip.png') no-repeat;
                    top: 5px;
                    left: 5px;
                }
            }
            button {
                width: 45px;
                height: 23px;
                float: right;
                margin: -3px 0px 0px 5px;
                background: linear-gradient(to bottom, #ddb692 0%, #b78a61 100%);
                background-color: #b78a61;
                border-radius: 5px;
                padding: 0px;
                font-size: 15px;
                color: #fff;
                &:hover {
                    background: linear-gradient(to top, #ddb692 0%, #b78a61 100%);
                }
                &.ques {
                    width: 16px;
                    height: 15px;
                    background: url('../images/ques.png');
                    margin: 0px 0px 0px 5px;
                }
            }
        }
    }
    //首頁縮拉
    &.index {
        min-width: 1160px;
    }
}