//main
main {
    display: block;
    width: 100%;
    min-width: 1460px;
    height: auto;
    position: relative;
    //置中外包
    article {
        width: 1100px;
        height: 860px;
        margin: 0px auto;
        overflow: hidden;
        position: relative;
        //市場列表用
        &.other {
            width: 1400px;
        }
        //優惠用
        &.discountborad {
            width: 1170px;
        }
        //我的頁面用
        &.mineboard {
            width: 1125px;
        }
    }
    //背景
    .bg {
        width: 100%;
        min-width: 1460px;
        height: 1000px;
        position: absolute;
        top: 0px;
        background: url('../images/bg.jpg') no-repeat top center;
        z-index: -999;
        //首頁縮拉
        &.index {
            min-width: 1160px;
        }
    }
    //首頁縮拉
    &.index {
        min-width: 1160px;
    }
}