//右列
.right {
    width: 300px;
    height: 850px;
    background: #fafbff;
    margin-left: 5px;
    border-radius: 0px 0px 10px 10px;
    float: left;
    box-shadow: 0 0 3px 2px #c1c7e6;
    overflow: hidden;
    position: relative;
    z-index: 6;
    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #b9becf;
        border-radius: 10px;
    }
    //上段字樣
    .righttop {
        width: 100%;
        height: 45px;
        border-bottom: solid 1px #e0e1e3;
        //體育直播
        a {
            display: block;
            width: 60px;
            height: 45px;
            float: left;
            line-height: 45px;
            font-size: 15px;
            padding-left: 40px;
            position: relative;
            color: #000;
            &::before {
                content: "";
                position: absolute;
                width: 19px;
                height: 17px;
                background: url('../images/tv_g.png');
                top: 13px;
                left: 12px;
            }
            &:hover {
                color: #d57f32;
            }
        }
        //投注教程
        .liveteach {
            float: right;
            padding: 0px 2px;
            border-radius: 5px;
            font-size: 14px;
            background: transparent;
            border: solid 1px #000;
            margin: 12px 35px 0px 0px;
            position: relative;
            color: #4d515d;
            &::before {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: url('../images/infor.png');
                right: -25px;
                top: 2px;
            }
            &:hover,&:active {
                background: #4d515d;
                color: #fff;
            }
        }
    }
    //直播小框
    .rightwindow {
        width: 100%;
        height: 230px;
        margin: 5px 0px;
        p {
            display: block;
            float: left;
            font-size: 13px;
            padding: 0px 10px 10px;
            &.vs {
                font-weight: bold;
                line-height: 30px;
                padding: 0px;
                span {
                    color: #2d43b6;
                    padding: 0px 13px;
                }
            }
        }
        div {
            width: 100%;
            height: 195px;
            float: left;
            background: url('../images/live.png') no-repeat top center;
            background-size: cover;
        }
    }
    //下大框
    .room {
        width: 100%;
        height: 565px;
        //切換按鈕
        .twobut {
            width: 100%;
            height: 30px;
            button {
                width: 50%;
                height: 100%;
                float: left;
                border-radius: 15px 15px 0px 0px;
                background: transparent;
                font-size: 15px;
                &.active {
                    color: #2d43b6;
                    box-shadow: 0px 0px 2px 2px #dae2ff;
                    border-width: 1px 1px 0px 1px;
                    border-style: solid;
                    border-color: #fff;
                    background: linear-gradient(to bottom, #fefeff 0%, #ebecf7 100%);
                }
            }
        }
        //直播賽事
        .livelist {
            display: none;
            width: 100%;
            height: 535px;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 5px;
                background-color: transparent;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #b9becf;
                border-radius: 10px;
            }
            &.open {
                display: block;
            }
            ul {
                //選單
                li {
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    background: #fff;
                    border-bottom: solid 1px #e0e1e3;
                    padding-left: 10px;
                    position: relative;
                    font-size: 15px;
                    overflow: hidden;
                    &:hover,&.active {
                        background: linear-gradient(to bottom, #ffffff 0%, #eaecf7 100%);
                        cursor: pointer;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 6px;
                        height: 8px;
                        background: url('../images/arrow_b.png');
                        right: 50px;
                        top: 21px;
                        transition: 0.3s all;
                    }
                    &:hover:before,&:active:before {
                        transform: rotate(90deg);
                    }
                    //選單效果
                    &.active {
                        background: linear-gradient(to bottom, #ffffff 0%, #eaecf7 100%);
                        cursor: pointer;
                        color: #004eff;
                        &::before {
                            transform: rotate(90deg);
                        }
                        &::after {
                            color: #004eff;
                        }
                    }
                    //選單前小圖
                    span {
                        display: block;
                        width: 20px;
                        height: 20px;
                        float: left;
                        margin: 14px 10px 0px 0px;
                        position: relative;
                        background: url('../images/live_balls.png');
                        background-size: 1600%;
                        &.rt_base {
                            background-position-x: -20px;
                        }
                        &.rt_bsk {
                            background-position-x: -40px;
                        }
                        &.rt_rh {
                            background-position-x: -60px;
                        }
                        &.rt_esp {
                            background-position-x: -80px;
                        }
                        &.rt_st {
                            background-position-x: -100px;
                        }
                        &.rt_lot {
                            background-position-x: -120px;
                        }
                        &.rt_iceb {
                            background-position-x: -140px;
                        }
                        &.rt_ten {
                            background-position-x: -160px;
                        }
                        &.rt_sno {
                            background-position-x: -180px;
                        }
                        &.rt_vball {
                            background-position-x: -200px;
                        }
                        &.rt_rc {
                            background-position-x: -220px;
                        }
                        &.rt_bad {
                            background-position-x: -240px;
                        }
                        &.rt_bsoc {
                            background-position-x: -260px;
                        }
                        &.rt_fob {
                            background-position-x: -280px;
                        }
                        &.rt_pp {
                            background-position-x: -300px;
                        }
                    }
                    p {
                        float: right;
                        font-size: 13px;
                        font-weight: bold;
                        color: #004eff;
                        margin:2px 70px 0px 0px;
                    }
                }
                //選單內容
                div {
                    display: none;
                    width: 100%;
                    height: 500px;
                    background: #fff;
                    a {
                        display: block;
                        width: 100%;
                        height: 90px;
                        border-bottom: solid 1px #e0e1e3;
                        position: relative;
                        &:last-child {
                            border-radius: 0px 0px 15px 15px;
                        }
                        &:hover,&:active {
                            background: #fff0e2;
                        }
                        span {
                            display: block;
                            color: #4d515d;
                            font-weight: bold;
                            font-size: 16px;
                            padding: 8px 0px 0px 10px;
                            position: relative;
                            float: left;
                            &.time {
                                font-size: 15px;
                                float: right;
                                margin-right: 10px;
                                padding-left: 0px;
                            }
                            &.live {
                                font-size: 13px;
                                color: #d57f32;
                                float: right;
                                font-weight: normal;
                                margin: 2px 20px 0px 0px;
                                position: relative;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 4px;
                                    background: #ff0000;
                                    top: 10px;
                                    right: -10px;
                                }
                            }
                        }
                        div {
                            display: block;
                            width: 100%;
                            height: auto;
                            float: left;
                            background: transparent;
                            span {
                                display: block;
                                color: #4d515d;
                                font-size: 13px;
                                font-weight: normal;
                                line-height: 24px;
                            }
                            button {
                                background: transparent;
                                border: solid 1px #3654ff;
                                color: #3654ff;
                                border-radius: 10px;
                                float: right;
                                margin: 25px 10px 0px 0px;
                                &:hover,&:active {
                                    background: #3654ff;
                                    color: #fff;
                                }
                                &.live {
                                    border-color: #d57f32;
                                    color: #d57f32;
                                    &:hover,&:active {
                                        background: #d57f32;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                    &.open {
                        display: block;
                    }
                }
            }
        }
        //聊天室
        .chatroom {
            display: none;
            width: 100%;
            height: 500px;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 4px;
                background-color: transparent;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #b9becf;
                border-radius: 10px;
            }
            &.open {
                display: block;
            }
            //上小圖
            .topbar {
                width: 100%;
                height: 30px;
                background: linear-gradient(to bottom, #ffffff 0%, #eaecf7 100%);
                position: relative;
                &::before {
                    content: "";
                    width: 11px;
                    height: 11px;
                    position: absolute;
                    background: url('../images/chatroom.png');
                    top: 10px;
                    left: 20px;
                }
            }
            //視窗
            .chatwindow {
                width: 100%;
                height: 330px;
                border-bottom: solid 1px #e0e1e3;
                color: #8a8c93;
                text-align: center;
                overflow-y: auto;
                overflow-x: hidden;
                &::-webkit-scrollbar {
                    width: 5px;
                    background-color: transparent;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background: transparent;
                    border-radius: 10px;
                }
                p {
                    font-size: 14px;
                    padding: 5px 0px;
                }
                div {
                    width: 100%;
                    height: auto;
                    float: left;
                    position: relative;
                    span {
                        display: block;
                        float: right;
                        padding: 3px 5px;
                        border: solid 1px #485abf;
                        border-radius: 20px;
                        font-size: 15px;
                        color: #fff;
                        background: #485abf;
                        position: relative;
                        margin: 20px 10px 10px;
                        text-align: right;
                        &.username {
                            display: inline;
                            position: absolute;
                            top: -15px;
                            right: 0px;
                            color: #93a2ee;
                            font-size: 10px;
                            border: none;
                            background: transparent;
                        }
                        &.guestname {
                            display: inline;
                            position: absolute;
                            top: -15px;
                            left: 0px;
                            color: #93a2ee;
                            font-size: 10px;
                            border: none;
                            background: transparent;
                        }
                        &.guest {
                            float: left;
                            background: transparent;
                            color: #485abf;
                            text-align: left;
                        }
                    }
                }
            }
            //打字窗
            .chatbox {
                width: 280px;
                height: 120px;
                background: #fff;
                textarea {
                    width: 100%;
                    height: 50px;
                    border: none;
                    outline: none;
                    padding: 10px;
                    resize: none;
                }
                //字型+表情按鈕
                span {
                    display: block;
                    width: 15px;
                    height: 15px;
                    float: left;
                    margin: 10px 5px 0px 5px;
                    position: relative;
                    overflow: hidden;
                    background: url('../images/chatbox_ic.png');
                    background-size: 200%;
                    cursor: pointer;
                    &.look {
                        background-position-x: -15px;
                    }
                }
            }
            //取消+發送按鈕
            .chatbut {
                width: 100%;
                height: 60px;
                background: #d6ddff;
                button {
                    float: right;
                    margin: 20px 15px 0px 0px;
                    border-radius: 5px;
                    &:first-child {
                        border: 1px solid #8593d8;
                        color: #fff;
                        background: linear-gradient(to bottom, #8593d8 0%, #3d50bb 100%);
                        &:hover,&:active{
                            background: linear-gradient(to bottom, #3d50bb 0%,  #8593d8 100%);
                        }
                    }
                    &:last-child {
                        border: 1px solid #afafaf;
                        color: #afafaf;
                        background: #fff;
                        &:hover,&:active {
                            color: #fff;
                            background: #afafaf;
                        }
                    }
                }
            }
        }
    }
}